Repository microsoft/Web-Dev-For-Beginners, pull requests merged in 2022-12, with the labels that each got.

#858 Fix link translation (FR) for README
  translations/README.fr.md
Labels: translations, changes requested

#726 Simplified Chinese translation.
  3-terrarium/2-intro-to-css/translations/README.zh-cn.md
  translations/README.zh-cn.md
Labels: translations, no-pr-activity

#731 IT localization + fixed broken links to promo video gif
  translations/README.bn.md
  translations/README.el.md
  translations/README.fil.md
  translations/README.id.md
  translations/README.it.md
  translations/README.ja.md
  translations/README.ml.md
  translations/for-teachers.it.md
Labels: translations, changes requested

#870 Added PT-BR Translations for 6-space-game
  6-space-game/translations/README.pt-BR.md
Labels: translations
