Repository microsoft/Web-Dev-For-Beginners, pull requests merged in 2022-10, with the labels that each got.

#779 Add README translation (ES) for getting-started-lessons
  1-getting-started-lessons/README.md
  1-getting-started-lessons/translations/README.es.md
Labels: translations

#753 Fixed minor typos
  8-code-editor/1-using-a-code-editor/README.md
Labels: documentation

#807 added null as primitive type
  2-js-basics/1-data-types/README.md
Labels: documentation

#808 fixed typo in about-browsers chapter
  5-browser-extension/1-about-browsers/README.md
Labels: documentation

#814 fix a broken link
  1-getting-started-lessons/2-github-basics/translations/README.ko.md
Labels: translations

#833 Update assignment.md
  4-typing-game/typing-game/assignment.md
Labels: documentation

#747 Update README.md
  1-getting-started-lessons/1-intro-to-programming-languages/README.md
Labels: documentation

#837 Corrected some grammatical errors
  README.md
Labels: documentation, changes requested

#866 Modified README.hi.md
  translations/README.hi.md
Labels: translations

#804 Update and fix Error typos
  1-getting-started-lessons/1-intro-to-programming-languages/translations/README.fr.md
Labels: translations

#849 Translation issue (paragraph 09)
  4-typing-game/translations/README.es.md
Labels: translations

#864 added spanish translations for 2-functions-methods readme
  2-js-basics/2-functions-methods/translations/README.es.md
Labels: translations

#915 un-translate code
  5-browser-extension/start/dist/background.js
  5-browser-extension/start/src/index.js
Labels: translations

#829 Improve spanish translation
  1-getting-started-lessons/2-github-basics/translations/README.es.md
Labels: translations

#935 Grammar fixes README.MD
  README.md
Labels: documentation, changes requested

#850 Semantic & syntax issues (paragraph 20, 98 [...])
  1-getting-started-lessons/1-intro-to-programming-languages/translations/README.es.md
Labels: translations
