Repository microsoft/Web-Dev-For-Beginners, pull requests merged in 2023-01, with the labels that each got.

#995 Syntax & typo in line 05 in spanish translation
  2-js-basics/4-arrays-loops/translations/assignment.es.md
Labels: translations

#990 Translation proposal (line 111)
  6-space-game/6-end-condition/translations/README.es.md
Labels: translations

#981 Internal URL fixed (paragraph 09) in Spanish translation
  7-bank-project/solution/translations/README.es.md
Labels: translations

#991 Translation proposal in line 10 (spanish chapter)
  2-js-basics/translations/README.es.md
Labels: translations

#891 translation: for-teachers.es.md
  translations/for-teachers.es.md
Labels: translations

#727 Added persian (fa) translation
  TRANSLATIONS.md
  quiz-app/src/assets/translations/fa.json
  translations/README.fa.md
Labels: translations

#734 add assignment.az.md
  2-js-basics/1-data-types/translations/assignment.az.md
Labels: translations

#777 Translates the files of the folder lesson-template in french
  lesson-template/translations/README.fr.md
  lesson-template/translations/assignment.fr.md
Labels: translations

#774 Create assignment.az.md
  2-js-basics/2-functions-methods/translations/assignment.az.md
Labels: translations

#805 Marathi translation (README)
  translations/README.mar.md
Labels: translations

#968 Update README.md
  README.md
Labels: changes requested

#1026 Fix links to topics in the correct language
  1-getting-started-lessons/1-intro-to-programming-languages/translations/README.es.md
  1-getting-started-lessons/2-github-basics/translations/README.es.md
  1-getting-started-lessons/translations/README.es.md
Labels: translations

#863 Added french readme for lesson 8 about code editor
  8-code-editor/1-using-a-code-editor/translations/README.fr.md
Labels: translations, no-pr-activity

#822 Update README.hi.md
  2-js-basics/1-data-types/translations/README.hi.md
Labels: translations

#806 Adding for-teachers.mar.md
  translations/README.mar.md
  translations/for-teachers.mar.md
Labels: translations

#785 Updated README.hi.md
  translations/README.hi.md
Labels: translations, changes requested

#960 Update README.hi.md
  6-space-game/1-introduction/translations/README.hi.md
Labels: translations

#768 bank project solution, describe in more detail how to start it
  7-bank-project/solution/README.md
Labels: documentation, no-pr-activity

#972 Typos (lines 14, 30, 34, 116, 161) in spanish translation
  1-getting-started-lessons/2-github-basics/translations/README.es.md
Labels: translations

#927 Added README Translation in Thai (th)
  translations/README.th.md
Labels: translations, no-pr-activity
