Repository microsoft/Web-Dev-For-Beginners, pull requests merged in 2023-07, with the labels that each got.

#1120 remove regionName Keyword
  5-browser-extension/solution/src/index.js
Labels: no-pr-activity

#1107 Variable not declared/ambiguous usage #1103 Solved
  5-browser-extension/solution/src/index.js
Labels: no-pr-activity

#1112 FIX grammatical errors in README.md
  README.md
Labels: no-pr-activity

#1078 Update README.ja.md
  2-js-basics/3-making-decisions/translations/README.ja.md
Labels: no-pr-activity

#1079 Update assignment.ja.md
  2-js-basics/4-arrays-loops/translations/assignment.ja.md
Labels: no-pr-activity

#1080 Update README.ja.md
  3-terrarium/1-intro-to-html/translations/README.ja.md
Labels: no-pr-activity

#943 added switch statement
  2-js-basics/3-making-decisions/README.md
Labels: enhancement, no-pr-activity

#983 Typos fixed (line 53, 975, 1802, 2058) in Spanish translation
  quiz-app/src/assets/translations/es.json
Labels: translations

#984 Table markupd fixed in Spanish translation
  6-space-game/1-introduction/translations/assignment.es.md
Labels: translations

#985 Semantic issue (paragraph 09) in Spanish translation
  6-space-game/2-drawing-to-canvas/translations/README.es.md
Labels: translations

#986 Table markup fixed (spanish translation)
  6-space-game/3-moving-elements-around/translations/assignment.es.md
Labels: translations

#987 Typo fixed (line 115) in spanish translation
  6-space-game/3-moving-elements-around/translations/README.es.md
Labels: translations

#992 Typo fixed (paragraph 102) in Spanish translation
  2-js-basics/1-data-types/translations/README.es.md
Labels: translations, no-pr-activity

#993 Title typo fixed (line 05) in Spanish translation
  2-js-basics/2-functions-methods/translations/README.es.md
Labels: translations

#967 Update README.es.md
  1-getting-started-lessons/2-github-basics/translations/README.es.md
Labels: translations

#988 Fixed markup formatting (paragraph 30)
  6-space-game/5-keeping-score/translations/README.es.md
Labels: translations

#1163 Updated url of Labs of Github site (line 324)
  1-getting-started-lessons/2-github-basics/translations/README.es.md
Labels: translations

#878 [TRANSLATION] added a portuguese translation for 7 bank-project
  7-bank-project/translations/README.pt-BR.md
Labels: translations

#787 Add portuguese br translation quizz
  quiz-app/src/assets/translations/index.js
  quiz-app/src/assets/translations/pt-BR.json
  translations/README.pt-BR.md
Labels: translations

#977 Proper translation (paragraph 27 & 214) - Spanish translation
  7-bank-project/4-state-management/translations/README.es.md
Labels: translations

#975 Translation proposal in Spanish translation (paragraph 03)
  7-bank-project/solution/translations/README.es.md
Labels: translations
